html{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}
body{
    background-color: antiquewhite;
    width: 100%;
    margin: 0;
    display: flex;
}
#content{
    margin: auto;
    align-items: center;
    justify-content: center;
}
#container{
    width: 100%;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    box-shadow: 0px 0px 50px 1px rgb(117, 10, 10) inset;
}

#tittle{
    padding-top: 0.5em;
    color: white;
    height: 1.5em;
}

#board{
    background-color: #F4FF70;
    width: 100%;
    margin: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    display: flex;
    flex-direction: column;
    box-shadow: 0.1px 0.1px 10px 1px rgb(180, 189, 83) inset;
}
#board *{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#board * *{
    background-color: #f9ffb5;
    width: 1.5em;
    height: 1.5em;
    /*margin: 0.09em;*/
}

#total-trees{
    padding: 1em;
    background-color: #A87C4F;
    border-radius: 8%;
    box-shadow: 0px 0px 10px 1px rgb(121, 85, 50); 
}
#btn-reload{
    margin: 0.5em;
}

#buttons{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#buttons * {
    margin: 0em 0.5em;
    border-radius: 15%;
    padding: 0.4em 1em;
    border: none;
    background-color: #CC0000;
    box-shadow: 0.1px 0.1px 10px 1px rgb(129, 1, 1) inset;
}